<div class="fixed-side fixed-right">
  <div class="module-default">
    <div class="module-inner">
      <div class="module-content">
        <div class="link-fixed-side">
          <ul>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin={eyou:global name='web_attr_4' /}&site=qq&menu=yes" class="link-name"><i style="background-image:url({eyou:global name='web_templets_pc' /}/skin/img/qq.png);"></i><span>在线客服</span></a></li>
            <li><a href="javascript:;" class="link-name"><i style="background-image:url({eyou:global name='web_templets_pc' /}/skin/img/tell.png);"></i><span>服务热线</span></a>
              <div class="link-summary"><i class="arrow-section-r"></i>
                <div class="link-summary-content">
                  <div class="qhd-content">
                    <p style="text-align:center;">{eyou:global name='web_attr_1' /}</p>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="http://#popup" class="link-name"><i style="background-image:url({eyou:global name='web_templets_pc' /}/skin/img/ewm.png);"></i><span>微信二维码</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup">
  <div class="popup-content not-animated" data-animate="fadeInDown">
    <div class="popup-content-wrapper">
      <div class="module-default">
        <div class="module-inner">
          <div class="module-content">
            <div class="qhd-content">
              <p style="text-align: center;"> <img alt="" src="{eyou:global name='web_attr_12' /}" style="width: 180px; height: 180px;" /></p>
              <p style="text-align: center;"> 扫描二维码</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-close-btn"><a href="javascript:;" title="关闭"><span>关闭</span></a></div>
  </div>
  <div class="popup-overlay"></div>
</div>
<div class="gotop-wrapper"><a href="javascript:;" class="fixed-gotop gotop"></a></div>
