<section class="sidebar float-right">
  <div class="sidebar-content">
    <div class="module module-hlbg">
      <div class="module-inner">
        <div class="module-hlbg-title clearfix">
          <h3>没有喜欢的旅程？</h3>
        </div>
        <div class="module-hlbg-content">
          <div class="qhd-content">
            <p style="text-align: center; margin:15px 0 20px;"> <span style="font-size:16px;">让1对1旅行管家为你定制</span></p>
            <p style="text-align: center;"> <span style="color: rgb(51, 51, 51); font-family: 'Microsoft YaHei'; line-height: 21px; background-color: rgb(238, 246, 242);"><a class="btn-large btn-large-main" href="http://wpa.qq.com/msgrd?v=3&amp;uin={eyou:global name='web_attr_4' /}&amp;site=qq&amp;menu=yes"><span>联系客服</span></a></span></p>
            <hr />
            <p style="text-align: center;"> <span style="color:#2ba165;">关注我社微信<br />
              <span style="line-height: 1.8;">&nbsp;<strong>领现金优惠！</strong></span></span></p>
            <p style="text-align: center;"> <img src="{eyou:global name='web_attr_12' /}" style="width: 150px; height: 150px;" /></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
