<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/qhdcontent.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/content.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/menu.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/pgwslideshow.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_pc' /}/skin/css/style-green.css" />
<!--[if lt IE 9]>
 <script src="{eyou:global name='web_templets_pc' /}/skin/js/html5.js"></script>
<![endif]--><!--[if IE 6]>
 <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/ie7.js"></script>
 <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/dd_belatedpng.js"></script>
 <script type="text/javascript">
  DD_belatedPNG.fix('.top img, .footer img, .bottom img, .form-btn, .module-icon-default');
 </script>
<![endif]-->
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.7.2.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/superfish.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.caroufredsel.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.touchswipe.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.tools.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.fancybox-1.3.4.pack.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/pgwslideshow.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.fixed.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/cloud-zoom.1.0.2.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/device.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/html5media-1.2.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/animate.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/isotope.pkgd.min.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/custom.js"></script>
</head>
<body style="background:url({eyou:global name='web_templets_pc' /}/skin/img/bg-img-05.jpg) top center fixed;">
<div id="wrapper" class="insi-page">{eyou:include file='head.htm'/}
  <section class="main">
    <div class="breadcrumbs-full">
      <section class="page-width clearfix page-title page-title-inner clearfix">
        <div class="breadcrumbs"><span>当前位置：</span>{eyou:position style='' /}</div>
      </section>
    </div>
    <div class="page-width subPage-boxBg clearfix">
      <section class="content float-right">
        <div class="content-wrapper">
          <div class="module-default">
            <div class="module-inner">
              <div class="module-content">
                <div class="article-detail">
                  <div class="article-title">
                    <h1>{$eyou.field.title}</h1>
                  </div>
                  <div class="entry-meta"><span><strong>所属分类：</strong>{eyou:type}<a href="{$field.typeurl}">{$field.typename}</a>{/eyou:type}</span><span><strong>发布时间：</strong><strong>{$eyou.field.add_time|MyDate='Y-m-d',###}</strong></span><span><strong></strong></span></div>
                  <div class="article-content-wrapper">
                    <div class="article-content">
                      <div class="qhd-content"> {$eyou.field.content} </div>
                    </div>
                    <div class="detail-bottom">{eyou:type}
                      <div class="float-right detail-bottom-button"><a href="{$field.typeurl}">查看更多</a></div>
                      {/eyou:type} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {eyou:include file='left.htm'/} </div>
  </section>
  {eyou:include file='footer.htm'/}</div>
{eyou:include file='bottom.htm'/}
</body>
</html>