body {
    background-color: #e6e6e6;
}

body>.header {
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    position: relative;
    background-color: pink;
    border-radius: 20px;
}

body>.header>.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    margin-left: 50px;

}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/index-image/logo.png) no-repeat;
    font-size: 0;
}

body>.header>.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    /* border: 2px solid #E0FFFF; */
}

.search input {
    float: left;
    width: 100%;
    height: 32px;
    padding-left: 10px;
    border-radius: 20px;
}

.search button {
    width: 80px;
    height: 28px;
    background-color: red;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 2px;
    left: 456px;
    border-radius: 20px;
}

body>.header .hotwords_rank {
    width: 454px;
    background-color: white;
    display: none;
    position: absolute;
    top: 62px;
    left: 350px;
    z-index: 99;
}

.header .hotwords_rank .tr {
    width: 454px;
    height: 25px;
    display: flex;
}

.header .hotwords_rank .tr:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;

}

.hotwords_rank .tr img {
    width: 25px;
}

.hotwords_rank .tr .rank_name {
    font-size: 15px;
    line-height: 25px;
    padding-left: 8px;
}

.navitems ul li:hover {
    background-color: skyblue;
}

body>.header>.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
    font-size: 16px;
}

.hotwords a {
    margin: 0 10px;
}

body>.header>.reserve {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    border-radius: 20px;
}

.reserve>.number {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}

body>.nav {
    width: 1200px;
    height: 45px;
    box-shadow: rgb(190, 190, 190) 0px 0px 20px;
    margin: 0 auto;
    border-radius: 20px;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
}

.dropdown .dt {
    width: 240px;
    height: 100%;
    /* color: rgba(128, 0, 0, 0.719); */
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    background-color: white;
    border-top-left-radius: 20px;
    /* border-top-right-radius: 20px; */
}

.nav .navitems {
    float: right;
    /* background-color: white; */
}

.nav .navitems li {
    width: 240px;
}

body>.main {
    width: 1200px;
    height: 453px;
    margin: 0 auto;
    display: flex;

}

.main .dd {
    width: 240px;
    height: 463px;
    background-color: skyblue;
    border-bottom-left-radius: 20px;
}

.main .dd .title ,.main .dd .title .h1  {
    width: 240px;
    height: 45px;
    background-color: pink;
    text-align: center;
    line-height: 45px;
}
.main .dd ul {
    border-bottom-left-radius: 20px;
}

.main .dd ul li {
    position: relative;
    height: 101.75px;
    line-height: 103.5px;
    margin-left: 8px;
    padding-left: 10px;
    /* font-size: 18px; */
}

.main .dd ul li:hover {
    font-size: 20px;
    margin-right: 10px;
    background-color: #fff;
}

.main .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: black;
    font-family: 'iconfont';
    content: '\e65c';
}


.main .dd ul li a {
    display: block;
    font-size: 20px;
    color: #fff;
}

.main .dd ul li:hover a {
    color: black;
    font-size: 20px;
}

.main .dd ul li {
    border-radius: 20px;
}

.main .dd ul li:nth-child(1) {
    margin-top: 5px;
}

.main .focus {
    width: 720px;
    height: 463px;
    position: relative;
}

.focus .focus_header {
    width: 720px;
    height: 45px;
    box-sizing: border-box;
}

.focus .focus_header .title {
    width: 720px;
    height: 45px;
    background-color: white;
    border: 1px rgb(203, 202, 202) solid;
}

.main .focus ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus .title img {
    height: 45px;
    margin: 0 20px;
}

.main .focus .focus_tupian  {
    width: 720px;
    height: 410px;
    position: absolute;
}

.main .focus .focus_tupian .big {
    width: 720px;
    height: 418px;
    background-color: #fff;
    overflow: hidden;
}

.focus_tupian .big .nav-img {
    display: flex;
    overflow: hidden;
    height: 418px;
}

.main .focus .focus_tupian {
    height: auto;
    position: absolute;
}

.main .focus .focus_tupian .big .begin {
    display: none;
    flex-shrink: 0;
    width: 720px;
    height: 418px;
}

.main .focus .focus_tupian .big .nav-img .begin.active {
    display: block;
    flex-shrink: 0;
    width: 720px;
    height: 418px;
}

.main .focus .focus_tupian .big .begin img {
    float: right;
    width: 720px;
    height: 418px;
}

.navigation {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
}

.navigation .bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    border-radius: 20px;
}

.navigation .bar:hover {
    background: #fff;
}

.navigation .active {
    background: #fff;
}

.main .focus .focus_tupian .big .nav-prev {
    width: 50px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    left: 0px;
    cursor: pointer;
    display: none;
    background-image: url('../images/index-image/return_left.png');
    background-size: 100% 100%;
}

.main .focus .focus_tupian .big .nav-current {
    width: 50px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    display: none;
    background-image: url('../images/index-image/return_right.png');
    background-size: 100% 100%;
}


#r1:checked~.s1 {
    margin-left: -60%;
}

#r1:checked~.s1 {
    margin-left: -80%;
}

.main .newsflash {
    width: 240px;
    height: 463px;
    margin: 0;
    padding: 0;
}

.newsflash .header {
    width: 240px;
    height: 45px;
}

.hearder .body {
    width: 240px;
}

.newsflash .header ul {
    width: 240px;
    text-align: center;
    line-height: 45px;
    background-color: pink;
    margin-left: 1px;
    margin-top: -1px;
}

.newsflash .body ul {
    width: 241px;
    height: 50px;

}

.newsflash .body ul li {
    background-color: skyblue;
    height: 60px;
    /* margin-top: 8px; */
    padding-left: 20px;
    line-height: 44.8px;
    font-size: 20px;

    /* border-bottom: 1px solid gainsboro;
    border-bottom-style: dashed; */
}

.newsflash .body ul li:nth-child(7) {
    border-bottom-right-radius: 20px;
}

.newsflash .body ul li h3 {
    float: left;
}

.newsflash .body ul li p {
    font-size: 10px;
}

.footer {
    width: 1200px;
    height: 600px;
    /* background-color: skyblue; */
    margin: 80px auto auto;;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0px 20px 10px;
    box-shadow: rgb(190, 190, 190) 0px 0px 20px;
}

.footer>div>h1 {
    margin-left: 27px;
    margin-bottom: 25px;
}

.footer .content>div {
    margin-left: 28px;
    margin-bottom: 90px;
    width: 260px;
    height: 200px;
    /* float: left; */
    transition: all 0.3s;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.footer .content>div .img {
    width: 260px;
    height: 150px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;

}
.footer .content>div .img>img{
    width: 260px;
    height: 150px;
    object-fit: cover;
}
.footer .content_1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(240, 240, 240);
}

.footer .content_2 {
    width: 260px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 28px;
    background-color: rgb(240, 240, 240);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.footer .content_2>span {
    color: #ff7c2d;
}

.footer .content>div:hover {
    transform: translateY(-17px);
    /* transition: all 0.5s; */
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

.footer .content>div div,
.content>div img {
    transition: all 0.3s;
}

.footer div {
    display: flex;
    flex-wrap: wrap;
}


.bottom {
    position: relative;
    align-items: center;
    /* background-color: rgb(235, 235, 235); */
    margin-top: 40px;
;
}

.bottom_image {
    height: 45px;
    width: 445px;
    margin: 0px auto;
    position: relative;
}

.bottom_image>img {
    width: 45px;
    height: 45px;
    margin: 0 50px;
    cursor: pointer;
}

.bottom_image>div {
    width: 200px;
    height: 200px;
    border: 0px;
    overflow: hidden;
}

.bottom_image>div>img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 0px;
}

.bottom_image>.qq {
    /* background-color: red; */
    position: absolute;
    top: -241px;
    left: -30px;

}

.bottom_image>.qq>.qq_contact {
    transform: translateY(200px);
    opacity: 0;
    transition: all 0.5s;
}

.qq_img:hover+.qq>img {
    transform: translateY(-0px);
    opacity: 1;
}

.bottom_image>.weixin {
    /* background-color: blue; */
    position: absolute;
    top: -241px;
    left: 120px;
}

.bottom_image>.weixin>.weixin_contact {
    transform: translateY(200px);
    opacity: 0;
    transition: all 0.5s;
}

.weixin_img:hover+.weixin>img {
    transform: translateY(-0px);
    opacity: 1;
}

.bottom_image>.weibo {
    /* background-color: green; */
    position: absolute;
    top: -241px;
    left: 269px;
}

.bottom_image>.weibo>.weibo_contact {
    transform: translateY(200px);
    opacity: 0;
    transition: all 0.5s;
}

.weibo_img:hover+.weibo>img {
    transform: translateY(-0px);
    opacity: 1;
}

.bottom_text {
    width: 500px;
    height: 50px;
    margin: 10px auto 0px;
    border-top: 4px solid rgb(195, 195, 195);
    text-align: center;
    font-size: 15px;
}

.filling {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

.filling p {
    width: 50%;
    height: 100px;
    float: left;
    line-height: 100px;
}

.filling .icp {
    width: 50%;
    height: 100px;
    float: right;
    line-height: 100px;
}

